body
{
	background-color: black;
	color: white;
	font-family: "Segoe UI";
	text-align: center;
}

.title
{
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 40px;
	padding-top: 15px;
	padding-bottom: 20px;
}

.button
{
	background-color: #FFDDAA;
	border-radius: 10px;
	border: 1px solid #333333;
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
	cursor: pointer;
	font-family: "Segoe UI";
	padding: 10px;
	margin: 15px;
	width: 200px;
}

.button:hover
{
	background-color: #FFEECC;
}

.game-container
{
	background: url("background-simple.png");
	border-radius: 10px;
	border: 10px solid #333333;
	height: 600px;
	margin: auto;
	width: 800px;
}

.game-container > div
{
	height: 600px;
	width: 800px;
}

.game-game
{
	display: none;
	overflow: hidden;
	position: relative;
	text-align: left;
}

.game-stats
{
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	padding: 20px;
	position: relative;
	z-index: 100;
}

.game-highscores
{
	display: none;
	overflow: auto;
}

.game-statistics
{
	display: none;
	overflow: auto;
}

.pipe
{
	position: absolute;
	left: -9999px;
	top: 0px;
}

#bird
{
	position: absolute;
	left: -9999px;
	top: 0px;
}

.text-shadow
{
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1.0);
}

.highscores-table
{
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
}